services:
  postgres:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_DB: prostore
      POSTGRES_USER: alan
      POSTGRES_PASSWORD: a
    ports:
      - "5432:5432"
    networks:
      - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U alan -d prostore"]
      interval: 5s
      timeout: 2s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: "10m"
        max-file: "3"
  adminer:
    image: adminer
    restart: always
    ports: 
      - "8080:8080"
    networks:
      - prisma-network

networks:
  prisma-network:

volumes:
  postgres_data: